/* Modifica o header */
header {
    margin-top: 4%;
    margin-bottom: 2%;
    text-align: center;
}

/* Modifica o body */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FAFAFA;
}

/* Modifica o input text */
::placeholder {
    color: grey;
    font-style: italic;
    opacity: 1;
}

/* Modifica a tabela */
table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

table, th, td {
    text-align: center;
    align-items: center;
}

.task-width-limited {
    min-width: 225px;
    max-width: 225px;
    white-space:pre-line;
}

.done {
    text-decoration: line-through;
    font-style: italic;
}

/* Modifica o Checkbox */
input[type="checkbox"] {
    filter: grayscale();
}