body {
    text-align: center;
}

table {
    width: 500px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background: #D3D3D3;
}

::placeholder {
    color: grey;
    font-style: italic;
    opacity: 1;
}

.done {
    text-decoration: line-through;
}